<div class="register-page">
    <div class="register-box">
        <div class="register-logo">
          <b>Admin</b>SGV
        </div>
      
        <div class="card">
          <div class="card-body register-card-body">
            <p class="login-box-msg">Registrar un nuevo usuario</p>
      
            <form (ngSubmit)="crearUsuario()" [formGroup]="registerForm" autocomplete="off">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Full name" formControlName="nombre">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Retype password" formControlName="passwordConfirm">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>

              <!--Select role-->
              <div class="form-group mb-3">
                <select class="form-control" formControlName="role" (change)="changeRole($event)">
                  <option value="">Seleccione el role</option>
                  <option *ngFor="let role of Roles">{{role}}</option>
                </select>
              </div>

              <!--Validaciones-->
              <div class="row">
                <div class="col-9">
                  <div class="col text-danger">
                    <p *ngIf="campoNoValido('nombre')">El nombre es obligatorio</p>
                    <p *ngIf="campoNoValido('email')">El email es obligatorio</p>
                    <p *ngIf="campoNoValido('role')">El role es obligatorio</p>
                    <p *ngIf="contrasenasNoValidas()">Las contraseñas no coinciden</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- /.col -->
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
            <a routerLink="/login" class="text-center">Ya tengo una cuenta</a>
          </div>
          <!-- /.form-box -->
        </div><!-- /.card -->
      </div>
      <!-- /.register-box -->
      
</div>

